:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: transparent;
  background-color: rgb(253, 119, 119);
  background-image: radial-gradient(at 17% 22%, rgb(110, 247, 201) 0px, transparent 50%), radial-gradient(at 0% 0%, rgb(251, 112, 128) 0px, transparent 50%), radial-gradient(at 99% 100%, rgb(19, 44, 231) 0px, transparent 50%), radial-gradient(at 56% 83%, rgb(31, 221, 255) 0px, transparent 50%), radial-gradient(at 70% 16%, rgb(255, 133, 173) 0px, transparent 50%), radial-gradient(at 13% 83%, rgb(0, 0, 250) 0px, transparent 50%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  color: #f2f2f2;
}

html{
  height: auto;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  width: 100%;
  height: 100%;
  color: transparent;
  background-color: transparent;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #f2f2f2;
    background-color: transparent;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* New Styling */

.center-section {
  padding: 50px 0;
  text-align: center;
  background-color: transparent;
  color: #f2f2f2;
}

.center-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: transparent;
  color: #f2f2f2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.center-content h2 {
  font-size: 2em;
  color: #f2f2f2;
}

.center-content p {
  font-size: 1.2em;
  color: #f2f2f2;
}