/* LoginPage.css */
.login-page {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  background-color: rgba(36, 36, 36, 0.05);
}

.login-page h2 {
  color: #f2f2f2;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
  max-width: 400px;
}

.login-page form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
}

.login-page label {
  color: #f2f2f2;
  font-weight: bold;
  max-width: 400px;
}

.registration-page input {
  padding: 8px;
  border: none;
  border-bottom: 1px solid #fff; /* White bottom line */
  background-color: transparent;
  color: #fff; /* Text color */
  max-width: 100%;
  width: 100%;
}

.login-page button {
  padding: 8px 16px; 
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  max-width: 150px; 
  margin: 0 auto;
}

.login-page input {
  padding: 8px;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  max-width: 100%;
  width: 100%;
}

.login-page input:focus {
  outline: none;
  border-bottom-color: #fff;
}

.login-page p {
  color: #f2f2f2;
  margin-top: 10px;
}
/* RegistrationPage.css */
.registration-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 80%; /* Increase the max-width for a wider form */
  margin: 0 auto;
  padding: 20px;
  min-height: 80vh;
  background-color: rgba(36, 36, 36, 0.05);
}

.registration-page h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.registration-page form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.registration-page .input-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.registration-page .input-row label {
  font-weight: bold;
}

.registration-page .input-row .left-input {
  flex: 1;
  margin-right: 15px;
}

.registration-page .input-row .right-input {
  flex: 1;
  margin-left: 15px;
}

.registration-page button {
  padding: 8px 16px; /* Adjust the padding as desired */
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  max-width: 150px; /* Set a maximum width for the button */
  margin: 0 auto; /* Center the button horizontally */
}

.registration-p {
  padding-top: 10px;
}

.Toastify__toast--error .Toastify__toast-body {
  color: black;
}