/* MainPage.css */

.main-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header.hero-section {
  background-color: rgba(0, 0, 0, 0.1);
  color: #f2f2f2;
  padding: 100px 0;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

header.hero-section h1{
  background-color: transparent;
  color: #f2f2f2;
  text-align: center;
}

header.hero-content {
  color: #f2f2f2;
}

a.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1616fb;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #e53935;
  color: #f2f2f2;
}

.featured-section {
  padding: 50px 0;
  text-align: center;
}

.about-section {
  background-color: transparent;
  color: #f2f2f2;
  padding: 50px 0;
  text-align: center;
}

section.login-section {
  background-color: transparent;
  color: #f2f2f2;
  padding: 50px 0;
  text-align: center;
}

footer.footer {
  background-color: transparent;
  color: #f2f2f2;
  padding: 20px;
  text-align: center;
}
